.current {
  width: 100%;
  height: 100%;
  .future-text {
    position: absolute;
    bottom: 10%;
    left: 25%;
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    color: #9656a1;
  }
}
